/*------------------------------------*\
    #SCAFFOLDING-PENGUIN
\*------------------------------------*/

/**
 * Note: Project settings
 */


// BEM Syntax
// .person{}
// .person__hand{}
// .person--female{}
// .person--female__hand{}
// .person__hand--left{}

// Reset the box-sizing
*,
*:before,
*:after {
    @include box-sizing(border-box);
}


// Selection text
@include selection-text($selection-text-color-bg, $selection-text-color);


// Body reset
html {
    min-height: 100%;
}

body {
    font-family: $font-family-base;
    font-size: em($body-font-size, 16);
    line-height: em($line-height-base, $font-size-base);
    color: $body-color;
    background-color: $body-bg;
    height: 100%;
}


// Images
img {
    @include img-responsive;
}


// Links
a {
    cursor: pointer;
    outline: none;
    text-decoration: none;
    @include link-colors($link-color, $link-hover-color, $link-active-color, $link-visited-color, $link-focus-color);
}
