// alert inline
@mixin alert--inline {

    .alert__content {
        display: inline-block;
    }

}

// alert top
@mixin alert--top {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}


@if $styles-alert == true {

    /*------------------------------------*\
        #ALERT-PENGUIN
    \*------------------------------------*/

    .alert {
        position: relative;
    }

        .alert__content {
            position: relative;

            .alert--success & {}

            .alert--info & {}

            .alert--warning & {}

            .alert--error & {}

        }

            .alert__close {
                position: absolute;
            }


    .alert--center {
        text-align: center;
    }

    .alert--right {
        text-align: right;
    }

}

@if $styles-alert-inline == true {

    /**
     * alert inline
     */

    .alert--inline {
        @include alert--inline;
    }

}


@if $styles-alert-top == true {

    /**
     * alert top
     */

    .alert--top {
        @include alert--top;
    }

}

