// Fix menu
// example:
// $nav-fixed-x: (top, 0);
// $nav-fixed-y: (left, 0);
// @include fix-menu($nav-fixed-x, $nav-fixed-y);

@mixin fix-menu($x, $y) {
    position: fixed;
    width: 100%;
    #{nth($y, 1)}: #{nth($y, 2)};
    #{nth($x, 1)}: #{nth($x, 2)};
}

// Nav Bar
@mixin nav--bar {

    .nav__menu  {
        display: table;
        width: 100%;
        position: relative;
    }

        .nav__menu__item {
            display: table-cell;
            vertical-align: middle;
            height: 100%;
            text-align: center;
        }

            .nav__menu__link {
                display: block;
            }

                .nav__submenu {
                    min-width: 100%;
                }

                    .nav__submenu__item {
                        text-align: left;
                    }

}

// Nav Fluid
@mixin nav--fluid {

    .nav__menu  {
        display: table;
        position: relative;
    }

        .nav__menu__item {
            display: table-cell;
            vertical-align: middle;
            height: 100%;
            text-align: center;
        }

            .nav__menu__link {}

                .nav__submenu {
                    min-width: 100%;
                }

                    .nav__submenu__item {
                        text-align: left;
                    }

}

// Nav Stacked
@mixin nav--stacked {

    .nav__menu  {}

        .nav__menu__item {}

            .nav__menu__link {
                display: block;
            }

}

// Nav Inline
@mixin nav--inline {

    .nav__menu  {
        @include clearfix;
    }

        .nav__menu__item {
            float: left;
        }

            .nav__menu__link {}

                .nav__submenu {
                    min-width: 100%;
                }

}


@if $styles-navigation == true {

    /*------------------------------------*\
        #NAVIGATION-PENGUIN
    \*------------------------------------*/

    .nav {}

        .nav__menu {}

            .nav__menu__item {
                position: relative;
            }

                .nav__menu__link {
                    text-decoration: none;
                    line-height: normal;
                    display: inline-block;

                    .nav__menu__item--selected & {
                        cursor: not-allowed;
                        cursor: default;
                    }

                }

                    .nav__submenu {}

                        .nav__submenu__item {}

                            .nav__submenu__link {
                                text-decoration: none;
                                line-height: normal;
                                display: inline-block;

                                .nav__submenu__item--selected & {
                                    cursor: not-allowed;
                                    cursor: default;
                                }

                            }


    @if $styles-navigation-bar == true {

        /**
         * Nav Bar
         */

        .nav--bar {
            @include nav--bar;
        }

    }

    @if $styles-navigation-fluid == true {

        /**
         * Nav Fluid
         */

        .nav--fluid {
            @include nav--fluid;
        }

    }

    @if $styles-navigation-inline == true {

        /**
         * Nav Inline
         */

        .nav--inline {
            @include nav--inline;
        }

    }

    @if $styles-navigation-stacked == true {

        /**
         * Nav Stacked
         */

        .nav--stacked {
            @include nav--stacked;
        }

    }

}
