// z-index
$zindex-modal               : 99 !default;
$zindex-spinner             : 100 !default;

// backdrops
$modal-backdrop-bg          : #333333 !default; //set on hexadecimal or color name
$modal-backdrop-bg-opacity  : 0.75 !default;
$spinner-backdrop-bg        : white !default; //set on hexadecimal or color name
$spinner-backdrop-bg-opacity: 0.75 !default;

// Text
$styles-text                : true !default;
$h1-size                    : 24 !default;
$h2-size                    : 22 !default;
$h3-size                    : 20 !default;
$h4-size                    : 19 !default;
$h5-size                    : 17 !default;
$h6-size                    : 16 !default;
$text-size-base             : 14 !default;
$text-size-small            : 12 !default;
$text-size-medium           : 16 !default;
$text-size-large            : 18 !default;
$text-link-hover            : true !default;

// Alert
$styles-alert               : true !default;
$styles-alert-inline        : true !default;
$styles-alert-top           : true !default;

// Breadcrumb
$styles-breadcrumb          : true !default;

// Button
$styles-button              : true !default;
$styles-button-fluid        : true !default;

// Dropdown
$styles-dropdown            : true !default;
$styles-dropdown-fluid      : true !default;
$styles-dropdown-stacked    : true !default;

// Navigation
$styles-navigation          : true !default;
$styles-navigation-bar      : true !default;
$styles-navigation-fluid    : true !default;
$styles-navigation-inline   : true !default;
$styles-navigation-stacked  : true !default;

// Table
$styles-table               : true !default;
$styles-table-stacked       : true !default;

// Form
$styles-form                : true !default;

// Tab
$styles-tab                 : true !default;
$styles-tab-bar             : true !default;
$styles-tab-inline          : true !default;
$styles-tab-reverse         : true !default;
$styles-tab-stacked         : true !default;

// Icon
$styles-icon                : true !default;

// Modal
$styles-modal               : true !default;

// Banner
$styles-banner              : true !default;
$styles-banner-stacked      : true !default;

// Spinner
$styles-spinner             : true !default;

// Paginator
$styles-paginator           : true !default;
$styles-paginator-bar       : true !default;
$styles-paginator-inline    : true !default;

// Panel
$styles-panel               : true !default;
